body    {
    padding: 0;
    margin: 0;
	background-color: hsl(0, 14%, 99%);
	font-family: 'Open Sans', sans-serif;
	color: #ffffff;
}

.header {
	width: 100%;
	height: 70px;
	border: none;
	margin: 0;
	position: fixed;
	top: 0;
	box-shadow: 0px 1px 10px #000000;
	text-align: center;
	text-transform: uppercase;
}

ul {
	padding: 20px;
	margin-top: 20;
}

a {
	text-decoration: none;
	color: #ffffff;
	transition: 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);

  }

a:hover {
    color: #898b8c;
	font-size: 110%;
	margin-left: 30px;
	
}

h1 {
	font-size: 1.2em;
	margin: 1.5rem 1.5rem 1.5rem 20px;
}

h2 {
	font-size: 1.5em;
	margin: 100px 0 0 20px;
}

h3 {
	font-size: 1em;
	margin-left: 10px;
}

div {
	background-color: #444;
	margin: 20px 20px;
	width: 30%;
	height: 300px;
	float: left;
	box-shadow: 0px 1px 10px #000000;
	padding: 10px;
	font-size: 150%;
}

.div1 {
	clear: both;
	margin-top: 120px ;
}

.div2 {
	float: right;
	margin-top: 120px ;
}

.div3 {
	clear: both;
}

.div4 {
	float: right;
}

.div5 {
	clear: both;
}

.div6 {
	float: right;
}

.footer {
	clear: both;
	width: 100%;
	height: 20px;
	border: 0;
	border-top: 1 solid;
	font-size: small;
	
	margin: 0;
	position: sticky;
	bottom: 0;
	
	box-shadow: 0px 1px 10px #000000;
}
