body    {
    padding: 0;
    margin: 0;
}

.header {
    
	width: 100%;
	height: 70px;
	border: none;
	margin: 0;
	position: sticky;
	top: 0;
	color: cadetblue;
}

h1 {
	font-size: 2em;
	color: rgb(2, 66, 69);
	margin: 1.5rem 1.5rem 1.5rem 20px;
}

h2 {
	font-size: 1.2em;
	color: cadetblue;
	margin: 1rem 1rem 1rem 20px;
}

h3 {
	font-size: 1em;
	color: rgb(6, 81, 84);
	margin: 1rem 1rem 1rem 20px;
}

div {
	background-color: rgb(225, 250, 249);
	margin: 20px 20px;
	width: 30%;
	height: 300px;
	border: 5px solid cadetblue;
	float: left;
}

.div2 {
	float: right;
    
}

.div3 {
	clear: both;
}

.div4 {
	float: right;
}

.div5 {
	clear: both;
}

.div6 {
	float: right;
}

.footer {
	clear: both;
	width: 100%;
	height: 70px;
	border: 1  solid;
	margin: 0;
	position: sticky;
	bottom: 0;
	color: cadetblue;
	
	box-shadow: 5px 5px 15px  rgb(50, 84, 85);
}
