@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;1,200;1,600&display=swap');

body    {
    padding: 0;
    margin: 0;
		font-family: 'Montserrat', Arial, sans-serif;
		line-height: 1.2rem;
		font-weight: 400;
		
}

a {
	text-decoration: none;
}
.list-link{
	text-decoration: none;
	color: black;
	line-height: 2rem;
}

.list-link:hover {
	text-decoration: underline;
}

a:hover {
  cursor: pointer;
}

h1 {
	color: #f2f2f2;
	text-align: center;
	padding-left: 20px;
	text-decoration: none;
	font-size: 1rem;
}

.navbar section {
	float: right;
	padding: 0px 20px;
}

.searchWrapper {
	display:flex;
	flex-direction: column;
  float: right;
  align-items: center;
	width: 16rem;
	
}
.hidden{
	display: none;
}

.searchBar {
	display: flex;
  float: right;
	margin: 3px 15px;
  align-items: center;
	width: 15.25rem;
}

.searchDropdown-content {
	display: block;
	float: right;
	margin-top: 5px;
	line-height: 1rem;
  border-radius: 5px;
	background-color: #D9DADF;
	color: #fcfcfc;
	text-align: left;
	box-shadow: 0px 0px 50px -30px #000000;
}

.searchDropdown-content  li {
	text-decoration: none;
	padding: 5px;
	color: #D9DADF; 
	width: 15rem;
}

.searchDropdown-content li a {
	color: #242424;
}


.searchDropdown-content li:hover {
	background-color: #f1f1f1;
	border-radius: 5px;
}

.searchQueryInput {
  width: 100%;
  height: 2rem;
  background: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
}

.searchQuerySubmit {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -2.5rem;
  background: none;
  border: none;
  outline: none;
}

.navbar {
		background-color: rgb(0, 0, 0);
		/* overflow: hidden; */
		position: fixed;
		top: 0px;
		width: 100vw;
		height: 50px;
		float: left;
		display: block;
		color: #fcfcfc;
		text-align: center;
		text-decoration: none;
		font-size: 1rem;
		height: 50px;
		line-height: 50px;
}
 
.dropdown {
	width: 50px;
	height: 50px;
	float: left;
	overflow: hidden;
}

.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
}

.dropdown .dropbtn {
  font-size: 1rem;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
	
}

.dropdown-content {
  display: none;
  position: absolute;
	top: 50px;
	left: 0px;
  background-color: #000000;
  min-width: 200px;
  z-index: 1;
}

.dropdown-content a {
	float: none;
  color: white;
  padding: 0px 15px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.headertext {
	float: right;
	padding-right: 20px;
}

.rect {
	fill: white;
}

.dropdown a:hover {
  color: rgb(134, 134, 134);
	font-weight: 500;
}

.mainView {
	display: grid;
  grid-template-rows: 30px repeat(3, 60vh);
  grid-template-columns: 1fr 1fr 1fr ;
	overflow-y: scroll;
}

.mainView ul {
	padding: 10px;
	font-weight: 200;
	font-size: 1.2rem;
	line-height: 1.4rem;
	list-style-type: none;
}

.div1 {
		grid-column: 1/3;
		grid-row: 2;
		background-color: rgb(168, 168, 206);
		display: flex;
  	justify-content: center;
  	align-items: center;
		
	}

.div2 {
		grid-column: 3;
		grid-row: 2;
		background-color: rgb(168,197,219);
		padding-top: 120px;
		display: flex;
  	justify-content: center;
  	align-items:center;
		flex-direction: column;
	
	}

.div3 {
	grid-column: 3/4;
	grid-row: 4;
		background-color: rgb(255, 255, 255);
		display: flex;
  	justify-content: center;
  	align-items:center;
		margin-bottom: 50px;
	}

.div4 {
		grid-column: 1/3;
		grid-row: 4;
		background-color: tan;
		display: flex;
  	justify-content: center;
  	align-items:center;
		flex-direction: column;
	}

.div5 {
		grid-column: 1;
		grid-row: 3;
		padding-bottom: 20px;
		background: center/cover url('./bilder/maxim-berg.jpg');
	}

.div6 {
		
		display: flex;
  	justify-content: center;
  	align-items:center;
		flex-direction: column;
	}

	.quote-section {
		grid-column: 2/4;
		grid-row: 3;

		background-color: rgba(255, 255, 255);
		display: flex;
  	align-items: center;
  	justify-content: center;
		text-align: center;
		
	}

	
.quote-container {
  width: auto;
  max-width: 700px;
  padding: 20px 100px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255);
  /* box-shadow: 0 10px 10px 10px rgba(0,0,0, 0.2); */
}

.quote-text {
  font-size: 2rem;
	line-height: 2rem;
}

.long-quote {
  font-size: 1.2rem;
}

.fa-quote-left {
  font-size: 2.2rem;
	/* padding-right: 10px; */
	/* padding-bottom: 10px; */
}

.quote-author {
  margin-top: 15px;
	margin-bottom: 30px;
  font-size: 1.3rem;
  font-weight: 400;
  font-style: italic;
}

.button-container {
  margin-top: 70px;
  display: flex;
  justify-content:space-around
}

.button-container button {
  cursor: pointer;
  font-size: 1rem;
  height: 2rem;
  border: none;
  border-radius: 10px;
  color: white;
  background: #333;
  outline: none;
  padding: 0.5rem 1.8rem;
  box-shadow: 0 0.3rem rgba(121, 121, 121, 0.65);
}

.button-container button:hover {
  filter: brightness(120%)
}

.button-container button:active{
  transform: translate(0, 0.3rem);
  box-shadow: none;
}

.twitter-button:hover {
 color: #38a1f3;
}
.fa-twitter {
  font-size: 1rem;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #333; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.ruter {
		font-size: 1.75rem;
		font-weight: 300;
		padding: 50px;
		gap: 15px;
	}
.ruter a {
		text-decoration: none;
		color: #3f3f3f;
		transition: 0.1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
	}

.ruter a:hover {
  color: #e9e9e9;
	margin-left: 1px;
	font-weight: 500;
}

.footerDiv {
	background-color: #000000;
	width: 100vw;
	height: 50px;
	position:fixed;
  bottom: 0;

}

.footer {
		margin: 0px;
		text-align: center;
		line-height: 50px;
		font-size: 0.8rem;
		color: rgb(56, 56, 56);

	}



/* --- MBview */
.mb-header {
	margin-top: 20vh;
	text-align: center;
}

.mb-container {
	display: flex;
	flex-direction: row;
			width: 35vw;
		margin: auto;
		align-items: center;
	}

.money-button {
	margin-left: 40px;
}


/* ---- omMikkelView  ------- */
.aboutHeader {
	margin-top: 20vh;
	text-align: center;
}

.aboutContainer {
	width: 35vw;
	margin: auto;
}

img {
	border-radius: 50%;
	width: 200px;
}

.aboutContainer h2 {
	color: #020202;
	text-align: center;
	margin-top: 30px;
  margin-bottom: 10px;
	text-decoration: none;
	font-size: 2rem;
	font-weight: 500;
	line-height: 1.1;
}

hr:nth-of-type(1) {

	margin-top: 20px;
 
}

hr {
	margin: 10px 0px;
  border: 0px;
  border-top: 1px solid #eee;
}



/* ----Media  ------- */

@media only screen and (max-width: 800px) {
  .mainView {
		grid-template-rows: 50px repeat(6, 60vh);
		grid-template-columns: 1fr ;
	}

	.div1 {
		grid-column: 1;
		grid-row: 2;
	}

	.div2 {
		grid-column: 1;
		grid-row: 4;
	}

	.div3 {
		grid-column: 1;
		grid-row: 5;
	}

	.div4 {
		grid-column: 1;
		grid-row: 6;
	}

	.quote-section {
		grid-column: 1;
		grid-row: 3;
	}

	.div5 {
		grid-column: 1;
		grid-row: 7;
	}
	.div6 {
		grid-column: 1;
		grid-row: 8;
	}

	.footerDiv {
		grid-column: 1;
		grid-row: 9;
	}
	.searchBar {
		width: 10rem;
	}
	
};

@media only screen and (max-width: 1000px) and (min-width: 800px) {
  .mainView {
		grid-template-rows: 50px repeat(4, 60vh) 200px;
		grid-template-columns: 1fr 1fr ;
	}

	.div1 {
		grid-column: 1;
		grid-row: 2;
	}

	.div2 {
		grid-column: 2;
		grid-row: 2;
	}

	.div3 {
		grid-column: 2;
		grid-row: 3;
	}

	.div4 {
		grid-column: 1/3;
		grid-row: 4;
	}

	.div5 {
		
		grid-column: 1;
		grid-row: 3;
	}
	.div6 {
		grid-column: 2;
		grid-row: 5;
	}

	.footerDiv {
		grid-column: 1/3;
		grid-row: 6;
	}
};

