

    body {
        background-color: lightblue;
    }

    svg {
        height: 98vh;
    }
    .board {
        fill: rgb(235, 192, 140);
        stroke: black;
        stroke-width: 1px;
    }

    .boardinni {
        fill: none;
        stroke: black;
        stroke-width: 0.5;
    }

    .square {
        fill: white;
        stroke: black;
        stroke-width: 0.5;
    }

    circle {
        stroke: rgb(0, 0, 0);
        stroke-width: 0.5;
    }

    .red {
        fill: red;
        stroke: rgb(0, 0, 0);
        stroke-width: 0.5;
    }

    .blue {
        fill: blue;
        stroke: rgb(0, 0, 0);
        stroke-width: 0.5;
    }

    .green {
        fill: green;
        stroke: rgb(0, 0, 0);
        stroke-width: 0.5;
    }

    .yellow {
        fill: yellow;
        stroke: rgb(0, 0, 0);
        stroke-width: 0.5;
    }

    .dot {
        fill: white;
    }

    polygon {
        stroke-width: 0.5;
        stroke: black;
    }


    @media only screen and (orientation:portrait){
        svg {
            width: 95vw;
            }
    }
